* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

header {
    background-color: beige;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    max-width: 100px;
    height: auto;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    font-family: "Staatliches", cursive;
    font-size: 20px;
    color: black;
    transition: font-size 0.3s, color 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: red;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
}
