*{
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: beige;
}

.navbar {
    padding: 10px 0;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    font-family: "Staatliches", cursive;
    font-size: 20px;
    color: black;
    transition: font-size 0.3, color 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: red;
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    height: 3.5em;
}

