*{
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: beige;
}

.navbar {
    padding: 10px 0;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    font-family: "Staatliches", cursive;
    font-size: 20px;
    color: black;
    transition: font-size 0.3, color 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: red;
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    height: 3.5em;
}

.carousel-inner {
    text-align: center;
    margin-top: 20px;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-shadow: 2px 2px 4px #b12121;
    padding: 20px;
    margin-top: 20px;
    font-size: xx-large;
    text-align: center;
    transition: text-shadow 0.5s, filter 0.5s;
    animation: hover-animation 5s infinite;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1:hover{
    text-shadow: 4px 4px 8px white;
    filter: blur(2px);
}


@keyframes  hover-animation {
    0%{
        text-shadow: 2px 2px 4px #b12121;
        filter: blur(0px);
    }
    50%{
        text-shadow: 2px 2px 8px beige;
        filter: blur(0px);
    }
    100%{
        text-shadow: 2px 2px 4px #b12121;
        filter: blur(0px);
    }
    
}

    h2{
        text-align: center;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


.venta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
    max-width: 1450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 18rem;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    cursor: default;
    transition: all 400em ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card:hover{
    box-shadow: 5px 5px 20px beige;
    transform: translate(-3%);
}

.card:not(:last-child){
    margin-right: 20px;
}

.card-body {
    flex: 1;
}

footer {
    background-color: beige;
    color: black;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 100px;
    font-family: "Staatliches", cursive;
}

footer > a:hover{
    color: red;
    font-family: 'Anton', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    height: 3.5em;
}


@media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: flex-start;
    }

    ul li {
        margin: 10px 0;
    }

    .container {
        padding: 10px;
    }

    .venta .card {
        width: 100%;
    }
}

